<!DOCTYPE html>
<html>	
	<head>
        <link href ="/static/css/style.css" rel ="stylesheet" type ="text/css">
		<title> 留言板 </title>
		<meta charset ="UTF-8" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
		<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
	</head>

    <body>
    	<div class ="container">
            <div class ="row">
           		<div class ="col-md-6 col-md-offset-3 text-center">
					<h1>留言板</h1>
				</div>
		    </div>
		</div>
		
		<div class ="container">
            <div class ="row">
				<div class="col-md-6 col-md-offset-3">
				    {% for msg in msgs %}
				        <div class="msg">
				            <span class="name">{{msg.send}}:</span> {{msg.message}}
				        </div>
				    {% endfor %}
				</div> 
			</div>
		</div>   
						



		<div class ="container">
            <div class ="row">
				<form action="" method="POST">
			        <div class ="col-md-2">
						<input id ="name" name="name" type ="text" class ="form-control" required autofocus placeholder="你誰啊">
		            </div>
					<div class ="col-md-8">
						<input id ="message" name="message" type ="text" class ="form-control" required placeholder="說話啊">
		            </div>
		            <input type="submit" id="submit" value="送出">
	            </form>
	        </div>
        </div>
	</body>

	<!--<script>
		function shuffle(array){
            for(var i=array.length-1;i>0;i--){
                var j=Math.floor(Math.random()*(i+1));
                var temp=array[i];
                array[i]=array[j];
                array[j]=temp;
            }
            return array;
        }

       	var imgs=[{% for img_url in imgs_url %}"{{img_url}}",{% endfor %}];
       	shuffle(imgs);
	</script>-->
</html>
