<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified JavaScript -->
        <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
                
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <script src="js/bootstrap.min.js"></script>
        <link rel ="stylesheet" type ="text/css" href ="style.css">
        <title> 飛向宇宙浩瀚無垠 </title>
        <meta charset ="UTF-8" />
    </head>

    <body>
        <div class ="container">
            <div class ="row">
                <div class="col-md-6 col-md-offset-3">
                    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%E7%B4%90%E7%B4%84&key=AIzaSyAnjqr0h_R_itoz7iy60iXS214b4CsN67E" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </body>
</html>
